/* background colors */
$primary-color: black;
$primary-color-light: #222;

/* text colors */
$primary-text-color: white;

// idents
$std-ident: 16px;
$std-double-ident: 32px;

// radius
$radius: 5px;